<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hms.lib.mobileservicesproductflavors">
    <application>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="your_api_key" />
        <!-- Firebase Push Service -->
        <service android:name="com.hms.lib.mobileservicesproductflavors.push.PushKitService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />
    </application>

</manifest>